.author-wrapper {
  font-family: $robotoregular;
  font-weight: 700;
  color: $grey;
  border-left: 1px solid $grey-border;
  background-color: $grey-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
}

.item-author-name {
  line-height: 18px;
  width: 100%;
  color: $grey;
}

.item-author-img {
  position: relative;
  margin: 10px 0 15px 0;
  .author-face {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid $grey-border;
  }
  .author-medal {
    position: absolute;
    top: 35px;
    left: -5px;
  }
}

.item-author-assessment {
  margin-bottom: 4px;
  .fa {
    color: $orange;
    font-size: 16px;
  }
  span {
    color: $green;
  }
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .author-wrapper{
    position: relative;
    border-left: none;
    border-top: 1px solid $grey-border;
    padding: 5px;
    .star-big{
      position: absolute;
      right: 15px;
    }
  }
  .item-author-img{
    position: absolute;
    top: 0;
    left: 29px;
  }
  .item-author-assessment{
    margin-top: 4px;
  }
}

