.author-wrapper {
  font-family: $robotoregular;
  font-weight: 700;
  color: $grey;
  border-left: 1px solid $grey-border;
  background-color: $grey-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
}

.item-author-name {
  line-height: 18px;
  width: 100%;
  color: $grey;
}

.item-author-img {
  position: relative;
  margin: 10px 0 15px 0;
  text-align: center;
  .author-face {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid $grey-border;
  }
  .author-medal {
    position: absolute;
    top: 35px;
    left: 18px;
    width: 30px;
    height: 34px;
  }
  .medal-gold{
    background: url('../img/sprite_Foodoria.png') no-repeat -153px -15px;
  }
  .medal-silver{
    background: url('../img/sprite_Foodoria.png') no-repeat -199px -15px;
  }
  .medal-bronze{
    background: url('../img/sprite_Foodoria.png') no-repeat -244px -15px;
  }
}

.item-author-assessment {
  margin-bottom: 4px;
  .fa {
    color: $orange;
    font-size: 16px;
  }
  span {
    color: $green;
  }
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .author-wrapper{
    position: relative;
    border-left: none;
    border-top: 1px solid $grey-border;
    padding: 5px;
    .star-big{
      position: absolute;
      right: 15px;
      z-index: 50;
    }
  }
  .item-author-img{
    position: absolute;
    top: -15px;
    left: 29px;
    .author-medal{
      left: -8px;
    }
  }
  .item-author-assessment{
    margin-top: 4px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .item-author-name{
    width: 90%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

