.main-form{
  padding: 100px 0 70px 0;
  min-height: calc(100vh - 220px);
  .title-main{
    margin-bottom: 50px;
  }
}
.form-login-password{
    width: 370px;
    margin: 0 auto;
  .form-footer-button{
    margin-left: 110px;
    display: inline-block;
  }
  .another{
    font-size: 12px;
    color: $grey;
    margin-top: 50px;
  }
}

@media screen and (max-width: 459px) {
  .main-form {
    padding-top: 50px;
  }
  .form-login-password {
    width: 340px;
    .form-footer {
      div {
        display: block;
      }
    }
    .form-footer-button{
      margin-left: 0;
    }
    .another{
      font-size: 14px;
    }
    .blue{
      font-size: 14px;
    }
  }
  #pw-recovery-form{
    & .btn-orange{
      width: 100%;
    }
  }
}