.sorting {
  text-align: right;
  .fa {
    color: #7f8c8d;
    font-size: 18px;
  }
  .dropdown{
    width: 170px;
    display: inline-block;
  }
  button.btn-dropdown{
    width: 100%;
    border: 1px solid $grey;
    //.caret {
    //  margin-left: 65px;
    //}
    &:after{
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      pointer-events: none;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      top: 1.25em;
      right: .75em;
      border-top: 8px solid black;
      opacity: 0.5;
    }
  }
  .dropdown-menu{
    width: 100%;
  }
}

@media screen and (max-width: 767px){
  .sorting{
    padding: 15px 30px 0 30px;
    .dropdown{
      width: 90%;
    }
  }
}