$grey: #7f8c8d;
$light-grey: #b9bfc0;
$grey-border: #d9e2e4;
$grey-inactive: #e9ebeb;
$grey-bg: #f7f9f9;
$blue: #00a2d3;
$dark-blue: #009ee2;
$green: #95c11f;
$light-green: #b1d474;
$green-bg: #f1f7e6;
$white: #fff;
$dark-orange: #f37020;
$orange: #ffab40;
$light-orange: #fcce00;
$orange-bg: #fcf7f0;
$active-filter: #eef6f9;
$red: #cc6055;

$robotomedium: robotomedium, sans-serif;
$robotoregular: robotoregular, sans-serif;
$blackjack: blackjack, sans-serif;

$main-transition: 0.25s;
